{% extends 'base.html' %}

{% block content %}
{% if feedback_count == 0 %}
<h1>データがありません</h1>
{% else %}
<!-- 投稿・編集完了後なら表示する -->
{% if 'update' in request.META.HTTP_REFERER %}
<h4 align="center" class="complete">フィードバックの編集に成功しました</h4>
{% elif 'create' in request.META.HTTP_REFERER %}
<h4 align="center" class="complete">フィードバックの投稿に成功しました</h4>
{% endif%}
<!-- ここまで -->
<div class="container">
<div class="text-center"> 
<h1>投稿履歴の詳細</h1>

<div class="row">
    <div class="col-xs-9 col-ms-9 col-md-9 col-lg-9"></div>
    <div class="col-xs-3 col-ms-3 col-md-3 col-lg-3">
    {% for object in feedback %}
        <div class="detail_updatelink"><a href="{% url 'feedback:update' pk=object.id %}" >投稿を編集</a></div>
    {% endfor %}
    </div>
</div>
<br>

<!--フィードバックの表示-->
{% for object in feedback %}
<div class="table-responsive">
    <table align="center" class="detail_box">
        <tbody>
    <!-- <span class="detail_box"> -->
        <tr>
            <!-- 件名-->
            <td align="left"><span  class="detail_title">{{ object.title }}</span>　<span  class="detail_category">{{ object.get_category_display}}</span></td>
        </tr>
        <tr>
            <td align="left"><span class="detail_thin">宛先：{{ object.user_id }}　{{ object.created_at }}</span></td>
        </tr>
        <tr>
            <!-- 内容-->
            <td align="left" class="detail_text">{{ object.content }}</td>
        </tr>
    </tbody>
</table>
</div>
    <!-- </span> -->
<!--返信の表示-->
{% for item in reply %}
<div class="table-responsive">
    <table align="center" class="detail_box">
    <tbody>
    <tr>
        {% if item.replyer == user.username and item.replyer == object.sender and object.sender != user.username and object.anonymous%}
        <td align="left"><span class="detail_thin">送信者：匿名　{{ item.created }}</span></td>
        {% else %}
        <td align="left"><span class="detail_thin">送信者：{{item.replyer}}　{{ item.created }}</span></td>
        {% endif %}
    </tr>
    <tr>
        <td align="left" class="detail_text">{{ item.reply_content }}</td>
    </tr>
<!-- </span> -->
</tbody>
</table>
</div>
{% endfor %}
{% endfor %}

<!--返信フォーム-->
<form name ="form_history" class="ui form" action="" method="POST">
    {% csrf_token %}
    <div class="table-responsive">
        {{form.reply_content}}
    </div>
    <div class="row">
        <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-ms-8 col-md-8 col-lg-6">
        </div>
        <div class="col-xs-2 col-ms-2 col-md-2 col-lg-4"><div class="detail_btn"><button type="submit" class="btn btn-success">返信</button></div></div>
    </div>
</form>

<script>
    document.form_history.reply_content.placeholder = "返信する";
    document.form_history.reply_content.rows = "3";
    document.form_history.reply_content.cols = "111";
</script>
<!--返信フォーム-->
{% endif%}
</div>
<br>
<div class="row">
    <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-10 col-ms-10 col-md-10 col-lg-10"><div class="detail_listlink"><a href="{% url 'feedback:history' %}">一覧に戻る</a></div></div>
</div>
</div>
{%endblock%}